<div id="header" class="row-fluid">
    <div class="span6 offset4">
        <h1>
            IONI SOLARZ</h1>
        <h2>
            Software developer</h2>
    </div>
</div>
<br />
<div class="row-fluid">
    <div class="span2 offset1">
        <img src="/assets/img/profile_pic.jpg" class="img-polaroid" />
    </div>
    <div class="span5">
        @Html.Partial("_about")
    </div>
    <div class="span3 pull-right">
        @Html.Partial("_contact")
    </div>
</div>
<hr class="hr_light" />
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <div class="span6">
                <h3 class="hr_light">
                    Education</h3>
                @Html.Partial("_education")
                <hr class="hr_light" />
                <h3>
                    My Skill Set</h3>
                @Html.Partial("_skills")
            </div>
            <div class="span6">
                <h3 class="hr_light">
                    Experience</h3>
                @Html.Partial("_resume")
            </div>
        </div>
    </div>
</div>
<hr>
<footer>
    <div class="span6">
        <p>
            <strong>&copy; Ioni Solarz 2012</strong></p>
    </div>
    <div class="span6">
        <ul class="social_panel unstyled pull-right">
            <li><a href="mailto:hello@ionisolarz.com" title="Emails" class="blue">
                <img src="/assets/img/email.png" width="24" height="24" alt="" /></a></li>
            <li><a href="https://twitter.com/ionis_" title="Twitter" class="blue">
                <img src="/assets/img/twitter_bird.png" width="24" height="24" alt="Twitter Profile" /></a></li>
            <li><a href="https://www.linkedin.com/in/ionisolarz" title="Linked In" class="blue">
                <img src="/assets/img/linkedin.png" width="24" height="24" alt="Linked In Profile" /></a></li>
        </ul>
    </div>
</footer>
